@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#1B1B1B] text-zinc-100 antialiased;
  }

  .font-mono {
    font-family: var(--font-geist-mono);
  }

  ::selection {
    @apply bg-emerald-500/20 text-emerald-500;
  }
}

.type::after {
  content: "";
  display: inline-block;
  width: 0.5em;
  height: 1.25em;
  @apply bg-emerald-500;
  margin-left: 0.1em;
  vertical-align: -0.25em;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
